<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~~/Content/sign/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/sign/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/sign/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/sign/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/sign/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/sign/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/sign/css/main.css" rel="stylesheet" />
    <link href="~/Content/sign/css/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    @RenderBody()

    <!--===============================================================================================-->
    <script src="~/Content/sign/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/sign/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/sign/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/sign/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/sign/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/sign/js/main.js"></script>

</body>
</html>